@model Section

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Раздел @Model.Name</title>
</head>
<body>
<h1>Разнообразный ассортимент!</h1>
<br />
<div class="section-parent">
    @for (int i = 1; i < Model.Products.Count; i++)
    {
        <div class="section-child">
            @if (Model.Products[i - 1].Image != null)
              {
                <img class="section-img" src="data:image/png;base64,@(Convert.ToBase64String(Model.Products[i - 1].Image.Data))" />
              }
            <p class="card-text-new">
                @Model.Products[i - 1].Name
            </p>
        </div>
    }
</div>

@*@for (int i = 0; i < Model.Products.Count; i++)
{
    <h2>Товар № @(i + 1)</h2>
    <p>@Model.Products[i].Name</p>
    <p>@Model.Products[i].Article</p>
}*@
</body>
</html>